body {
    background-color: midnightblue;
    color: whitesmoke;
    display: block;
}


/* nav {
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    margin: 50px auto;
    padding: 50px;
} */

ul {
    list-style: none;
}


/* Add a black background color to the top navigation */

.topnav {
    background-color: #333;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

button {
    display: inline-block;
    padding: 15px 25px;
    margin: auto;
    font-size: large;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px lightslategray;
}

button:hover {
    background-color: blue;
    /*border: 4px groove blue;*/
}

button:active {
    background-color: darkblue;
    box-shadow: 0 5px gray;
    transform: translateY(4px);
}

input {
    margin: 0 auto;
    padding: 2px;
    border-radius: 8px;
    border-style: outset;
    border-width: 3px;
    border-color: slategray;
}

li {
    padding: 8px;
}

h1 {
    text-transform: uppercase;
}

.container {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 8px;
    margin: 8px 16px;
    padding: 1em;
    text-align: center;
}

.container_slides {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 8px;
    margin: 8px 16px;
    padding: 32px;
    height: 650px;
}

.counter {
    font-weight: 700;
    display: inline-block;
    color: midnightblue;
    background-color: slategrey;
    width: 40%;
    border-top: 4px solid whitesmoke;
    border-bottom: 4px solid whitesmoke;
    border-radius: 8px;
    margin: 5px 16px;
    padding: 1em;
    text-align: center;
}

.fluff {
    margin: 16px;
    padding: 16px;
}

.halfFloat {
    width: 30%;
    border-width: 4px 1px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    margin: 2em auto;
    padding: 1em;
    text-align: center;
}